@import "~/assets/css/partials/_variables.scss";

.cv {
  p,
  a,
  li {
    line-height: 26px;
    @media screen and (max-width: $breakpoint-xxl) {
      font-size: $font-sm;
      line-height: 22px;
      padding-top: 6px;
    }
    @media screen and (max-width: $breakpoint-md) {
      line-height: 20px;
    }
  }
  &__head {
    h2 {
      line-height: 32px;
      @media screen and (max-width: $breakpoint-xxl) {
        line-height: 22px;
      }
    }
    span {
      display: block;
    }
    p {
      padding-top: 16px;
      @media screen and (max-width: $breakpoint-xxl) {
        padding-top: 6px;
      }
    }
  }
  &__body {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 50px;
    margin-top: 40px;
    border-top: 1px solid var(--color-elements);
    @media screen and (max-width: $breakpoint-xxl) {
      grid-template-columns: 210px auto;
      margin-top: 20px;
      gap: 20px;
    }
    @media screen and (max-width: $breakpoint-md) {
      grid-template-columns: 180px auto;
    }
    &--sidebar {
      position: relative;
      padding-right: 70px;
      @media screen and (max-width: $breakpoint-xxl) {
        padding-right: 20px;
      }
      .divider {
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: var(--color-elements);
      }
      li {
        line-height: 24px;
        @media screen and (max-width: $breakpoint-xxl) {
          line-height: 20px;
          padding-top: 0;
        }
      }
    }
    &--content {
      margin-top: -1px;
      .section:not(:first-child) {
        margin-top: 24px;
      }
    }
    .heading-element {
      background: var(--color-text);
      height: 3px;
      width: 26px;
      margin: 6px 0 20px;
      border-radius: 0.5px;
      @media screen and (max-width: $breakpoint-xxl) {
        margin-bottom: 15px;
      }
    }
    .section {
      position: relative;
      h3 {
        padding-top: 50px;
        @media screen and (max-width: $breakpoint-xxl) {
          padding-top: 20px;
        }
      }
      h5 {
        padding: 6px 0;
      }
      p {
        padding-bottom: 12px;
        &:last-child {
          padding: 0;
        }
        @media screen and (min-width: $breakpoint-xxxl) {
          width: 80%;
        }
      }
      &__content {
        margin-bottom: 6px;
        &:last-child {
          padding: 0;
        }
        li {
          text-indent: -7px;
          margin-left: 7px;
          @media screen and (max-width: $breakpoint-xxl) {
            padding-top: 2px;
          }
        }
        &--progress,
        &--progress span {
          border-radius: 0.5px;
          background: var(--color-elements);
          height: 6px;
          width: 100%;
          margin: -6px 0 20px;
          border-radius: 0.5px;
          display: block;
          span {
            background: var(--color-text);
          }
          @media screen and (max-width: $breakpoint-xxl) {
            margin-bottom: 15px;
          }
        }
        &--flex {
          display: grid;
          grid-auto-flow: column;
          @media screen and (min-width: $breakpoint-xxxl) {
            width: 80%;
          }
          p:nth-last-child(1) {
            text-align: end;
          }
          .location {
            padding: 2px 0 12px 10px !important;
          }
        }
      }
      &__divider {
        position: absolute;
        width: 100%;
        height: 1px;
        background: var(--color-elements);
      }
      @media screen and (max-width: $breakpoint-xxl) {
        h5 {
          padding-bottom: 2px;
        }
        p {
          padding-top: 2px;
        }
      }
    }
  }
}
