@import "~/assets/css/partials/_variables.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 40px;
  @media screen and (max-width: $breakpoint-sm) {
    display: block;
  }
  @media screen and (max-width: $breakpoint-xxl) {
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
}

.card {
  display: flex;
  transition: all $transition-fast;
  @media screen and (max-width: $breakpoint-sm) {
    margin-bottom: 10px;
  }
  &__wrapper {
    display: contents;
  }
  &__preview,
  &__info {
    background-color: var(--color-card-background);
    box-shadow: var(--color-card-shadow);
    width: 100%;
    max-width: 350px;
    border-radius: $border-base;
    border-bottom-right-radius: 0;
    padding: 2px;
    position: relative;
    @media screen and (max-width: $breakpoint-sm) {
      max-width: 200px;
    }
    &--img {
      position: relative;
      border-radius: $border-xs;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: 2;
    }
    .hide-shadow {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: var(--color-card-background);
      z-index: 1;
      border-radius: $border-base;
      border-bottom-right-radius: 0;
      user-select: none;
    }
    .corner-element {
      position: absolute;
      width: 7px;
      height: 7px;
      top: 8.3px;
      right: -7.2px;
      background: radial-gradient(
        transparent 70%,
        var(--color-card-background) 70%
      );
      background-position: 0px -6.9px;
      background-repeat: no-repeat;
      background-size: 190% 190%;
      z-index: 1;
    }
  }
  &__info {
    word-break: break-word;
    max-width: 100%;
    height: 235px;
    overflow: auto;
    max-height: 100%;
    padding: 15px 10px;
    bottom: 0;
    margin-top: 15px;
    border-bottom-right-radius: $border-base;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    &--subheading {
      margin: 7px 0 12px;
    }
    &--description {
      margin-bottom: 12px;
    }
    button {
      bottom: 15px;
      margin-top: auto;
    }
    @media screen and (max-width: $breakpoint-xl) {
      align-items: normal;
      max-height: 100%;
      height: auto;
    }
  }
}
