@import "~/assets/css/partials/_variables.scss";

.sidebar {
  width: 170px;
  max-width: 100%;
  position: relative;
  transition: all $transition-base;
  @media screen and (max-width: $breakpoint-md) {
    width: unset;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    margin-bottom: 25px;
  }
  &__intro {
    @media screen and (max-width: $breakpoint-md) {
      display: flex;
      gap: 20px;
      flex-direction: row;
    }
    p {
      font-family: "Mada", sans-serif;
      line-height: 22px;
    }
    p,
    a {
      @media screen and (max-width: $breakpoint-md) {
        line-height: 20px;
      }
    }
    &--img {
      position: relative;
      margin-bottom: 30px;
      width: 120px;
      height: 120px;
      background-color: var(--color-background);
      background-image: url("~/public/img/avatar.webp");
      background-size: cover;
      background-position: center 51%;
      border-radius: 100px;
      box-shadow: var(--color-shadow);
      @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 0;
        background-size: 140%;
        background-position-y: 42%;
        width: 90px;
        border-radius: 4px;
      }
      a {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 100px;
      }
    }
    &--text {
      margin-bottom: 40px;
      color: var(--color-text);
      a {
        font-family: "Mada", sans-serif;
      }
      @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        p,
        a {
          font-size: $font-md;
          width: 100%;
          max-width: 350px;
        }
      }
    }
  }
  .switch {
    background-color: $gray-200;
    border: none;
    position: absolute;
    bottom: 0;
    width: 56px;
    height: 28px;
    border-radius: $border-rounded;
    cursor: pointer;
    outline: none;
    box-shadow: var(--color-shadow);
    &.dark-mode {
      background-color: $gray-600;
      box-shadow: var(--color-shadow);
      .switch__handle {
        transform: translateX(-28px);
      }
    }
    &__handle {
      position: absolute;
      background-color: $blue-base;
      border-radius: $border-rounded;
      height: 28px;
      width: 28px;
      top: 0;
      right: 0;
      transition: $transition-fast;
    }
    span {
      position: absolute;
      z-index: 1;
      top: 5px;
      right: 5px;
      height: 18px;
      width: 18px;
      &:nth-child(1) {
        right: unset;
        left: 5px;
      }
    }
    @media screen and (max-width: $breakpoint-md) {
      width: 28px;
      height: 56px;
      &.dark-mode {
        background-color: $gray-600;
        box-shadow: var(--color-shadow);
        .switch__handle {
          transform: translateY(28px);
        }
      }
      span {
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 5px;
        height: 18px;
        width: 18px;
        &:nth-child(1) {
          top: unset;
          bottom: 5px;
        }
      }
    }
  }
  &__switch {
    @media screen and (max-width: $breakpoint-md) {
      position: relative;
      width: 28px;
      height: 56px;
      margin: 0px 15px auto auto;
    }
  }
  &__dropdown {
    height: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    &.mq-md {
      width: 100%;
      max-width: 350px;
      margin-top: auto;
    }
  }
}
