// Colors
$red-60: #f95757;

$orange-60: #ff8754;

$yellow-40: #ffde89;

$green-40: #b6f092;

$blue-60: #3a88ff;
$blue-80: #1c6ae1;
$blue-100: #004cc3;

$purple-60: #7986ff;

$pink-100: #ff47d7;

$gray-20: #f5f7fa;
$gray-40: #d4e1f5;
$gray-60: #a0aec3;
$gray-80: #3e4b5f;
$gray-100: #222225;

$theme-gradient: linear-gradient(
  50deg,
  #ff8754 10%,
  #ff47d7 47%,
  #7986ff 73%,
  #3a88ff 104%
);

// Spacing
$spacing-base: 10px 20px;
$spacing-xs: 2px;
$spacing-md: 5px 15px 10px;
$spacing-xl: 40px 50px;

// Borders
$border-base: 4px;
$border-xs: 3px;
$border-xl: 10px;
$border-rounded: 1000px;

// Shadows
$shadow-light:
  -5px 5px 10px #e6eaf0,
  5px -5px 10px #ffffff;
$shadow-dark:
  -5px 5px 10px #161619,
  5px -5px 10px #2c2c33;
