* {
  box-sizing: border-box;
  transition: all $transition-fast;
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
}
body {
  font-weight: 300;
  background: var(--color-background);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}
h1 {
  font-size: $font-xxl;
}
h2 {
  font-size: $font-xl;
}
h3 {
  font-size: $font-lg;
}
h4 {
  font-size: $font-md;
}
h5 {
  font-size: $font-sm;
}
h6 {
  font-size: $font-xs;
}

.layout {
  margin: 70px;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 100px;
  max-width: 100%;
}
.content {
  width: 100%;
  background: var(--color-background);
  box-shadow: var(--color-shadow);
  height: 830px;
  max-height: 100%;
  border-radius: $border-xl;
  padding: $spacing-xl;
  overflow: auto;
  position: relative;
}
p,
li,
a {
  font-size: $font-md;
  transition: none;
}
.link {
  color: $blue-base;
  font-weight: 400;
  background: $gradient-orange-and-pink;
  -webkit-background-clip: text;
  background-clip: text;
  max-width: fit-content;
  transition: $transition-base;
  &:hover {
    color: transparent;
  }
}
.button {
  color: var(--color-text);
  border: none;
  border-radius: $border-base;
  background-color: $blue-base;
  padding: $spacing-base;
  border-radius: $border-base;
  text-transform: uppercase;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  &:hover {
    background-color: $blue-500;
  }
}
