* {
  box-sizing: border-box;
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
}
body {
  font-weight: 300;
  background: var(--color-background);
}
.under-construction {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  p {
    font-size: $font-lg;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}
h1 {
  font-size: $font-xxl;
  @media screen and (max-width: $breakpoint-xxl) {
    font-size: $font-lg;
  }
}
h2 {
  font-size: $font-xl;
  @media screen and (max-width: $breakpoint-xxl) {
    font-size: $font-md;
  }
}
h3 {
  font-size: $font-lg;
  @media screen and (max-width: $breakpoint-xxl) {
    font-size: $font-sm;
  }
}
h4 {
  font-size: $font-md;
  @media screen and (max-width: $breakpoint-xxl) {
    font-size: $font-xs;
  }
}
h5 {
  font-size: $font-sm;
}
h6 {
  font-size: $font-xs;
}
p,
li,
a {
  font-size: $font-md;
  line-height: 24px;
  @media screen and (max-width: $breakpoint-md) {
    font-size: $font-sm;
    line-height: 22px;
  }
}
.layout {
  margin: 70px;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 100px;
  max-width: 100%;
  @media screen and (max-width: $breakpoint-md) {
    margin: 20px 15px;
  }
  @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xxl) {
    margin: 40px 30px;
    gap: 50px;
  }
}
.content {
  width: 100%;
  background: var(--color-background);
  box-shadow: var(--color-shadow);
  height: 85vh;
  border-radius: $border-xl;
  padding: $spacing-xl;
  overflow: auto;
  position: relative;
  @media screen and (max-width: $breakpoint-xxl) {
    padding: 10px;
    height: 90vh;
  }
  @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xxl) {
    padding: 20px 15px;
  }
  @media screen and (max-width: $breakpoint-md) {
    min-height: 80vh;
    align-items: center;
    height: unset;
  }
}
.link {
  color: $blue-base;
  font-weight: 400;
  background: $gradient-orange-and-pink;
  -webkit-background-clip: text;
  background-clip: text;
  max-width: fit-content;
  transition: $transition-base;
  &:hover {
    color: transparent;
  }
}
.button {
  color: $gray-50;
  border: none;
  border-radius: $border-base;
  background-color: $blue-base;
  padding: $spacing-base;
  border-radius: $border-base;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  &:hover {
    background-color: $blue-500;
  }
  &:disabled,
  [disabled] {
    cursor: default;
    background-color: $blue-200;
    &:hover {
      background-color: $blue-200;
    }
  }
  @media screen and (max-width: $breakpoint-xxl) {
    font-size: $font-sm;
    padding: 8px 16px;
  }
}
